!!! 5
html(lang="en")
  head
    title #{site.config.title}
    link(href="/stylesheets/screen.css", media="screen", rel="stylesheet", type="text/css")
  body
    header#header
      hgroup
        h1
          a(href="/") #{site.config.title}
    nav.panel
      h2 About
      p Pop is a static site generator.
      h2 Links
      ul
        li
          a(href="/feed.xml") Feed
        li
          a(href="http://twitter.com/alex_young") Twitter
        li
          a(href="/doc/") API Documentation
        li
          a(href="http://popjs.com") Powered by Pop
        li
          a(href="https://github.com/alexyoung/pop") Pop Code
        li
          a(href="http://dailyjs.com") Learn JavaScript
    section.content
      !{content}
    footer
      p.copyright Content &copy; Alex R. Young 
