!!! 5
html(lang="en")
  head
    title #{post.title}
    link(href="/stylesheets/screen.css", media="screen", rel="stylesheet", type="text/css")
  body
    header#header
      hgroup
        h1
          a(href="/") #{site.config.title}
    nav#breadcrumb
      a.read-more(href="/") &larr; Back
    !{hNews(post)}
    footer
      p.copyright Content &copy; The Authors
